// See: https://sass-lang.com/

body {
  width: 100%;
  height: 100%;

  &.all-background {
    width: 100%;
    height: 100%;
  }

  &.all-background::after {
    content: "";
    background-image: url('../img/all_bg.jpg');
    background-size: cover;
    background-repeat: repeat;
    opacity: 0.60;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    height: 100vh;
  }

  font-family: 'Cabin',
  sans-serif;

  main {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    top: 100px;
    opacity: 1;
  }

  h1 {
    font-size: 2em;
    color: #323232;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

@media (min-width: 992px) {
  body main {
    top: 140px;
  }
}
